html {
	font-family: 'Open Sans',sans-serif;
}

h3 {
	font-family: 'Lobster',cursive;
}

#header{
	font-size: 28pt;
	text-align: center;
	font-weight: bold;
	font-family: 'Lobster', cursive;
}

#title-span{
	background-color: rgba(250,250,250,0.9);
	padding: 5px;
}

#logo-row img{
	background-color: rgba(250,250,250,0.8);
}

#intro-text{
	background-color: rgba(250,250,250,0.8);
	margin-bottom: 20px;
	font-size: 16px;
}

#intro-text a{
	font-family: 'Lobster',cursive;
}

.hyperlink:link{
	color: black;
}

.hyperlink:visited{
	color:black;
}

.hyperlink:hover{
	color: blue;
}

#map {
	height: 650px;
	display: inline-block;
	font-family: 'Open Sans',sans-serif;
}

#panel {
	float: right;
	font-size: 10pt;
	background-color: white;
	text-align: center;	
}

#select {
	font-family: 'Open Sans',sans-serif;
} 

.container{
	width: 100%;
}

#legend-title-row{
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
	font-family: 'Open-Sans',sans-serif;
	width: 100%;
	display: inline-block;
}

#pie-chart-row{
	text-align: center;
	display: inline-block;
}

#pie-chart-legend{
	border-bottom: 2px solid black;
}

.pie-legend{
	font-family: 'Lobster',cursive;
	font-size:14pt;
}

#county-filter-row{
	margin: 20px;
}

#county-filter-row p{
	font-weight: bold;
	font-size: 14pt;
}

#county-row{
	margin-left: 10px;
}

#counties{
	height: 15px;
	width: 15px;
	margin-left: 10px;
}

#reset-row{
	margin-top: 20px;
	border-top: 2px solid black;
}

#reset{
	margin-top: 20px;
	text-align: center;
	margin-left: 40%;
	width: 20%;
	font-family: 'Open Sans',sans-serif;
	font-size: 10pt;
}

#reset-text{
	text-align:center;
}

#citation{
	font-size: 8pt;
	font-style: italic;
	text-align: center;
	display: inline-block;
	margin-top: 5px;
}