#header{
	font-size: 20pt;
	text-align: center;
	width: 100%;
	height: auto;
	font-weight: bold;
}

#map {
	height: 600px;
	display: inline-block;
}

#panel {
	height: 400px;
	float: right;
	font-size: 12pt;
}

#reset{
	margin: 5px;
	padding: 5px;
}

.container{
	width: 100%;
}