html {
	font-family: 'Open Sans',sans-serif; 
}

#header{
	font-size: 20pt;
	text-align: center;
	width: 100%;
	height: auto;
	font-weight: bold;
	font-family: 'Lobster', cursive;
}

#map {
	height: 600px;
	display: inline-block;
	font-family: 'Open Sans',sans-serif;
}

#panel {
	height: 400px;
	float: right;
	font-size: 10pt;
}

#select {
	font-family: 'Open Sans',sans-serif;
} 

#reset{
	margin: 5px;
	padding: 5px;
	font-family: 'Open Sans',sans-serif;
}

.container{
	width: 100%;
}

#legend-title-row{
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
	font-family: 'Open-Sans',sans-serif;
}